// @media only screen and (max-device-width: 1366px) {
// 	.introdiuction-image {
// 		background-attachment: scroll;
// 	}
// }

.introduction__container {
	width: 100vw;
	height: 100vh;
	background-image: url("../../../images/introduction.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
	h1 {
		color: white;
	}
}
